@model IList<ExampleCore.Models.WidgetModel>

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <h2>Index</h2>

        <p>Looping through all widgets returned from repository by SimpleDatastore, showing their parts to illustrate how child entities are handled:</p>

        <ul>
            @foreach (var w in Model)
            {
                <li>
                    @w.Name (main part: @w.MainPart)
                    <ul>
                        @foreach (var x in w.Parts)
                        {
                            <li>@x</li>
                        }
                    </ul>
                </li>
            }
        </ul>

    </div>
