@model IList<Example.Models.WidgetModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>Looping through all widgets returned from repository by SimpleDatastore, showing their parts to illustrate how child entities are handled:</p>

<ul>
    @foreach (var w in Model)
    {
        <li>
            @w.Name
            <ul>
                @foreach (var x in w.Parts)
                {
                    <li>@x</li>
                }
            </ul>
        </li>
    }
</ul>